* {
     box-sizing: border-box;
     padding: 0px;
     margin: 0px;
}

.preview-card-container {
     background-color: hsl(47, 88%, 63%);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}



.preview-card {
     background-color: white;
     border: 1px solid black;
     display: flex;
     flex-direction: column;
     /* align-items: flex-start; */
     /* justify-content: center; */
     width: 350px;
     height: fit-content;
     padding: 25px;
     margin: 100px 100px;
     gap: 15px;
}

.image {
     outline: 3px solid red;
     width: 100%;
}

.subject-date-container {
     outline: 3px solid red;
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.subject {
     display: inline-block;
     /* In order to make the button take its original shape, we have to set align-self to flex-start. This is because the parent div (subject-date-container) is overriding the child and stretching the button the full width */
     align-self: flex-start;
}

.title-description-container {
     outline: 3px solid red;
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.title {

}

.description {

}

.user-container {
     outline: 3px solid red;
     display: flex;
     gap: 5px;
     height: 25px;
     align-items: center;
}

.user-profile-image {
     width: 35px;
     height: 35px;
     border-radius: 1000px;
}

.user-name {

}